extends ../layouts/default

block content
	.container: .jumbotron
		h1 React EU API
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Keystone
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in to Keystone
